@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
:root {
  --borderCheckbox: #78b13f;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.main-wrapper {
  padding: 0 15px;
}
h1 {
  text-align: center;
}
.quiz-start {
  text-align: center;
  margin-top: 30px;
}

.quiz-start .btn-start,
.btn-submit,
.actions button {
  padding: 15px 30px;
  text-align: center;
  border: 0;
  background-color: var(--borderCheckbox);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}
.quiz-start .btn-start {
  font-size: 25px;
}
.actions {
  display: flex;
  gap: 15px;
}
.quiz-items:not(:empty) {
  overflow: hidden;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.quiz-items h2 {
  margin: 0 0 15px;
}
.quiz-items h2::first-letter {
  font-size: 40px;
  color: var(--borderCheckbox);
}
.choices label {
  background: #ddd;
  padding: 15px 15px 15px 50px;
  display: block;
  position: relative;
  cursor: pointer;
  border: 1px solid #ddd;
  transition: all ease 0.3s;
  border-radius: 5px;
}
.choices label:hover {
  background: #a6f2ff;
  border-color: #a6f2ff;
  transition: all ease 0.3s;
}
.choices {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.choice-item {
  margin-bottom: 15px;
  max-width: 50%;
  width: 100%;
  padding: 0 15px;
}
.choices input {
  display: none;
}
.answer-input {
  border: 1px solid #ddd;
  min-height: 50px;
  padding: 5px 15px;
  border-radius: 5px;
  min-width: 100%;
  margin-bottom: 15px;
  box-shadow: 0px 1px 3px #ccc;
}
.choices input:checked ~ label::after {
  content: "";
  display: inline-block;
  height: 14px;
  width: 4px;
  border-bottom: 2px solid var(--borderCheckbox);
  border-right: 2px solid var(--borderCheckbox);
  left: 23px;
  top: 15px;
  z-index: 2;
  position: absolute;
  animation: animRo 0.1s;
  transform: rotate(45deg);
}
.choices label::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid #333;
  position: absolute;
  left: 15px;
  top: 13px;
  z-index: 3;
}

.success-msg {
  border: 2px solid var(--borderCheckbox);
  font-size: 20px;
  padding: 15px;
  text-align: center;
  color: var(--borderCheckbox);
}

@media (max-width: 575px) {
  .choice-item {
    max-width: 100%;
  }
}

@keyframes animRo {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg);
  }
}
